/* htmlcolorcodes.com */

:root {
    background-color: #fbfcfc;
    font-size: 62.5%;  /* 62.5% */
}


/* all elements (univeral selector)- */
* {
/* 
    box-sizing: border-box; */
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 5rem;
}


.container {
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 7rem 4rem 4rem 4rem;

}

.card {
    display: flex;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
    width: 30%;
    height: 30%;
    background-color:rgb(23, 106, 214);
    text-shadow: 2px 1px 4px #fff;
    opacity: .85;
  }
  
  .card:hover {
    opacity: 1;
  }